*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar input{
    padding: .8rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 1px solid gray;
}
#navbar button{
padding: .8rem;
font-weight: 600;
border:none;
border-radius: 0 5px 5px 0;
background-color: tomato;
color: #fff;
}
#phoneForm{
    display: flex;
}
#welcomeMessage{
    margin-top: 4rem;
text-align: center;
}
@media screen and(max-width:1050px) {
  
}

@media screen and(max-width:850px) {
  
}

@media screen and(max-width:450px) {
 
}


@media screen and(max-width:380px) {
    #phoneForm{
    width: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    
}
}

@media screen and(max-width:330px) {
  

}